@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins',sans-serif;
}

.hide-scroll{
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

.hide-scroll::-webkit-scrollbar{
    width: 0em;
}

.ql-container{
    background-color: #F1F5F9;
    font-size: medium;
}

.blog-content h1,
.blog-content h2,
.blog-content h3
{
    font-weight: bold;
}

.blog-content h1{
    font-size: large;
}

.blog-content h2{
    font-size: large;
}

.blog-content h3{
    font-size: medium;
}